#mainNav {
  i {
    padding-left: 0.33rem;
  }
  min-height: 56px;
  background-color: $black;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    height: 2.5rem;
    color: $green;
    //font-weight: 700;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 0.2rem;
    &:hover {
      color: $primary;
    }
    &:active {
      color: darken($primary, 15%);
    }
    &.active {
      color: $primary;
      outline: none;
      border-bottom: 0.25rem solid $primary;
    }
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 350px) {
    .navbar-brand {
      margin-right: -100px;
      margin-bottom: 0rem;
    }
  }
  @media (max-width: 992px) {
    .nav-link {
      text-align: right;
      margin-right: 0.3rem;
    }
  }
  @media (min-width: 992px) {
    height: 4.2rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    .navbar-brand {
      height: 3.3rem;
      padding: 0;
      color: fade-out($green, .5);
    }
    .nav-link {
      font-weight: 700;
      max-height: auto;
      opacity: 1;
      visibility: visible;
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($white, .5);
      &:hover {
        color: fade-out($white, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      background-color: $white;
      //background: linear-gradient(
      //  fade-out($white, 0) 98%,
      //  fade-out($white, 1) 100%
      height: 5.4rem;
      .navbar-brand {
        color: $black;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
      .nav-link {
        color: $black;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
        //padding: 1.5rem 1.5rem 1.25rem;
        //padding: 2rem 1.5rem;
        //border-bottom: 0.25rem solid transparent;
      }
    }
  }
}
